<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Spring Shop Online</title>
   <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
   <th:block th:include="/_header"></th:block>

   <style>
      /* CSS để tạo bố cục và định dạng cho bảng */
      .account-container {
          margin-top: 20px;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
          background-color: #f9f9f9;
      }
      .account-info-table {
          width: 100%;
      }
      .account-info-table th,
      .account-info-table td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
      }
   </style>
</head>
<body>

<th:block th:include="/_menu"></th:block>

<div class="page-title">Account Info</div>

<div class="account-container">
   <table class="account-info-table">
      <tr>
         <th>User Name:</th>
         <td><span th:utext="${#request.userPrincipal.name}"></span></td>
      </tr>
      <tr>
         <th>Role:</th>
         <td>
            <ul>
               <li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
            </ul>
         </td>
      </tr>
   </table>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>
